h1.primary {
	font-family: serif;
}
h1.secondary {
	font-family: serif;
}
p.primary {
	font-family: serif;
}
p.secondary {
	font-family: serif;
}
h5 {
	font-family: serif;
}
h6 {
	font-family: serif;
}


.primary-font {
	font-family: serif;
}

