h1.primary {
	font-family: serif;
}
h1.secondary {
	font-family: serif;
}
p.primary {
	font-family: serif;
}
p.secondary {
	font-family: serif;
}

.red{
	background: #DD4B39;
}
.blue{
	background: #315EA8;
}
.gray{
	background: #F5F5F5;
}

h5 {
	font-family: serif;
}
h6 {
	font-family: serif;
}


.primary-font {
	font-family: serif;
}

