
.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 120px;
}

.jedi-bg {
    background: red;
}
.jedi-color {
    color: white;
}

.logo {
	text-align: center;
}
hr {
	border-color: #CCC;
}

div.section {
	margin: 200px 0px;
	min-height: 400px;

}
input {
	display: block;
	margin: 10px 0px;
}
.inputfield {
	width: 600px;
}

h1 {
	margin-top: 100px;
}

p {
	font-size: 28px;
}